@{ 
    ViewBag.Title = "Hata Oldu.";
}
<div class="content">
    <div class="card">
        <div class="row text-center mt-5" style="padding-bottom:80px;">
            <div class="col-sm-12">
                <i class="icon-user-block text-danger mt-5" style="font-size:150px;"></i>
                <h1 class="text-danger mt-2">UPPSSS</h1>
                <p class="h5">Teknik problem yaşandığı farkettik.</p>
            </div>
        </div>
    </div>
</div>
